@font-face {
    font-family: minmoji;
    src: url('https://minmoji.ucda.jp/fontseot/https%3A__e331.f5.si');
    src: local('minmoji'),
        url('https://minmoji.ucda.jp/fontswoff/https%3A__e331.f5.si') format('woff'),
        url('https://minmoji.ucda.jp/fonts/https%3A__e331.f5.si') format('opentype');
}
body {
    font-family: minmoji;
    margin: 0px;
    line-height:25px;
}
header{
    display: flex;
    /*justify-content: center;/* 左右中央を指定しています */
    align-items: center;/* 上下中央を指定しています */
    height: 40px;/* 高さは適宜変更してください */
    box-shadow: 2px 2px 4px;
}

#how_to_install{
    box-shadow: 2px 2px 4px;
    border-radius: 5px;
    margin: 5px;
}

@media only screen and (max-width: 425px) {

    #menu{
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background-color: white;
        box-shadow: 2px 2px 4px;
        display: none;
    }
    #menu_open{
        position: fixed;
        bottom: 5px;
        right: 5px;
        border-radius: 50%;
        box-shadow: 2px 2px 4px;
        width: 50px;
        height: 50px;
        padding: 10px;
    }
    #menu_outside{
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        display: none;
    }
    #menu_button{    
        display: flex;
        align-items: center;/* 上下中央を指定しています */
        height: 40px;/* 高さは適宜変更してください */
        border: solid 1px black;
        
    }
}
@media only screen and (min-width: 426px) {
    #menu{
        display: none;
    }
    #menu_open{
        display: none;
    }
    #menu_outside{
        display: none;
    }
    #menu_button{    
        display: none;
    }
}